body{
    margin: 0;
    background-color: hsl(160, 100%, 75%);
}

h1{
    font-size: 5rem;
    color: hsl(0, 0%, 30%);
    text-align: center;
}

#flexDisplay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    background-color: hsl(200, 100%, 50%);
    color: white;
    border-radius: 5px;
}