body{
    margin: 0;
    background-color: hsl(71, 100%, 75%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1{
    font-size: 5rem;
    color: hsl(0, 0%, 30%);
    text-align: center;
}

#flexDisplay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    margin-top: 100px;
    background-color: hsl(32, 85%, 39%);
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 

}

button:hover{
    background-color: hsl(32, 85%, 59%);
}

#quoteDisplay {
    font-size: 3rem;
    color: hsl(0, 0%, 30%);
    padding: 20px; 
    margin-top: 200px;
    background-color: white; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    max-width: 80%; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    display: none;
    cursor: pointer;
}

#quoteDisplay:hover{
    background-color: hsl(0, 0%, 80%);
}
