body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: hsl(0, 0%, 60%);
}

h1{
    font-size: 5rem;
}

.startGame {
    display: flex;
    flex-direction: column;
}

.startGame button {
    font-size: 3.5rem;
    margin: 40px 40px;
    border-radius: 25px;
    background-color: hsl(192, 91%, 25%);
    transition: background-color 0.4s ease;
}

.startGame button:hover{
    background-color: hsl(192, 91%, 45%);

}

#playerDisplay, #computerDisplay{
    font-size: 3rem;
}

#resultDisplay{
    font-size: 4rem;
    margin: 50px;
    background-color: hsl(0, 0%, 80%);
}

#scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playerScore, #computerScore, #tieScore {
    font-size: 3rem;
}