body{
    margin: 0;
    background-color: hsl(60, 56%, 70%);
}

h1{
    font-size: 5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.choices{
    display: flex;
    flex: 1;
    gap: 30px;
    justify-content: center;
    
}

.choices button{
    font-size: 3rem;
    background-color: hsl(202, 100%, 65%);
    padding: 30px;
    border-radius: 30px;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

.choices button:hover{
    background-color: hsl(202, 100%, 85%);
}
